.layout-main {
    padding-top: 140px;
    margin-left: 0px;
}

body {
    background-color: #f7f7f7;
}

.topbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 75px;
    background-color: #03A9F4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.topbar .logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 28px;
    background: url("#{resource['images/logo-sempli.png']}") top left no-repeat;
}

.topbar .topbar-left {
    background-color: #03A9F4;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    float: left;
}

.footer .footer-text-left {
    float: left;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.card.card-w-title {
    padding-bottom: 32px;
}
.card h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0;
}
.card h1:first-child {
    margin-top: 16px;
}
.card h2 {
    font-size: 22px;
    font-weight: 400;
}
.card h3 {
    font-size: 20px;
    font-weight: 400;
}
.card h4 {
    font-size: 18px;
    font-weight: 400;
}

.footer .footer-text-left {
    float: left;
}

.footer .footer-text-right {
    color: #757575;
    float: right;
}

.footer .footer-text-right span {
    vertical-align: middle;
    display: inline-block;
}